.atom-ui-tweaks--ui--compact-symbols-view {
  &.theme-one-light-ui,
  &.theme-one-dark-ui {
    .symbols-view .two-lines {
      & {
        overflow: hidden;
        padding: 3px 10px;
      }

      & > .primary-line {
        white-space: nowrap;
        display: inline;
        font-family: var(--editor-font-family);
        position: relative;
        color: @text-color;
      }

      &.selected > .primary-line {
        color: @text-color-selected;
      }

      .character-match {
        background: fade(@background-color-info, 5%);
        color: @text-color-info;
      }

      // The line number or filename
      & > .secondary-line {
        display: inline;
        font-size: 0.9em;
        margin-left: 10px;
        white-space: nowrap;
      }
    }
  }
}
