.atom-ui-tweaks--ui--compact-symbols-view {
  &.theme-one-light-ui,
  &.theme-one-dark-ui {
    .symbols-view .two-lines {
      & {
        overflow: hidden;
        padding: 3px 10px;
      }

      & > .primary-line {
        white-space: nowrap;
        display: inline;
        font-family: var(--editor-font-family);
        position: relative;
        color: lighten(@syntax-selection-color, 10%);
      }

      &.selected > .primary-line {
        color: lighten(@syntax-selection-color, 30%);
      }

      & > .secondary-line {
        display: inline;
        opacity: 0.5;
        font-size: 0.9em;
        margin-left: 10px;
        white-space: nowrap;
      }
    }
  }
}
