@import 'ui-variables';
@import 'syntax-variables';

@dark-text-bold: #fff;

/* One-line ctrl+p */
.atom-ui-tweaks--ui--compact-fuzzy-finder {
  .FuzzyFinderResult {
    & {
      overflow: hidden;
    }

    & > .primary-line {
      float: right;
      position: static;
      color: #ccc;
    }

    & > .primary-line::before {
      margin-right: 0;
      margin-left: 8px !important;
      position: absolute;
      left: 3px;
      top: 8px;
    }

    & > .secondary-line {
      float: left;
      opacity: 1;
    }
  }
}

/* Hide "utf-8" */
.atom-ui-tweaks--hide-encoding-status {
  .status-bar .encoding-status {
    display: none;
  }
}

/* Hide "CR/LF" */
.atom-ui-tweaks--hide-line-ending-status {
  .status-bar a.line-ending-tile {
    display: none;
  }
}

/* Hide "N/I" */
.atom-ui-tweaks--hide-vim-mode-plus-status {
  .status-bar #status-bar-vim-mode-plus {
    display: none;
  }
}

/* Stealth indent guides (indent-guide-improved) */
.atom-ui-tweaks--stealth-indent-guides {
  .indent-guide-improved {
    background-color: transparent;
    border-left: dotted 1px #8fa0;

    &.indent-guide-stack {
      background-color: transparent;
      border-left: dotted 1px #8fa2;

      &.indent-guide-active {
        background-color: transparent;
        border-left: dotted 1px #8fa4;
      }
    }
  }
}

/* Status bar on top (lol) */
.atom-ui-tweaks--status--bar-position-top {
  &.theme-one-dark-ui,
  &.theme-one-light-ui {
    atom-panel-container.footer {
      order: -1;
    }
  }
}

/* Extra padding on top */
.atom-ui-tweaks--editor--top-padding-16px {
  &.theme-one-dark-ui,
  &.theme-one-light-ui {
    atom-text-editor.vim-mode-plus:not(.mini) {
      padding-top: 16px;
    }
  }
}

/* Extra padding on top */
.atom-ui-tweaks--editor--top-padding-32px {
  &.theme-one-dark-ui,
  &.theme-one-light-ui {
    atom-text-editor.vim-mode-plus:not(.mini) {
      padding-top: 32px;
    }
  }
}

/* Bold status bar filename */
.atom-ui-tweaks--status--bold-file-name {
  &.theme-one-dark-ui,
  &.theme-one-light-ui {
    status-bar a.current-path {
      font-weight: bold;
    }
  }

  &.theme-one-dark-ui {
    status-bar a.current-path {
      color: @dark-text-bold;
    }
  }
}

/*
 * Hide find and replace close button
 * Originally by @simurai
 * From: https://github.com/atom/find-and-replace/pull/885#issuecomment-302593400
 */

.atom-ui-tweaks--ui--hide-find-and-replace-close-button {
  .find-and-replace .close-button {
    display: none;
  }
}

/* Reduce icon size */
.atom-ui-tweaks--tree--reduce-icon-size {
  .tree-view .icon::before {
    font-size: 13px;
  }

  .tree-view .css3-icon::before {
    font-size: 11px;
  }
}
