@import 'ui-variables';
@import 'syntax-variables';

/* One-line ctrl+p */
.one-ui-tweaks--one-line-ctrl-p {
  .FuzzyFinderResult {
    & {
      overflow: hidden;
    }

    & > .primary-line {
      float: right;
      position: static;
      color: #ccc;
    }

    & > .primary-line::before {
      margin-right: 0;
      margin-left: 8px !important;
      position: absolute;
      left: 3px;
      top: 8px;
    }

    & > .secondary-line {
      float: left;
      opacity: 1;
    }
  }
}

/* Hide "utf-8" */
.one-ui-tweaks--hide-encoding-status {
  .status-bar .encoding-status {
    display: none;
  }
}

/* Hide "CR/LF" */
.one-ui-tweaks--hide-line-ending-status {
  .status-bar a.line-ending-tile {
    display: none;
  }
}

/* Hide "N/I" */
.one-ui-tweaks--hide-vim-mode-plus-status {
  .status-bar #status-bar-vim-mode-plus {
    display: none;
  }
}

/*
 * stealth indent guides (indent-guide-improved)
 */

.one-ui-tweaks--stealth-indent-guides {
  .indent-guide-improved {
    background-color: transparent;
    border-left: dotted 1px #8fa0;

    &.indent-guide-stack {
      background-color: transparent;
      border-left: dotted 1px #8fa2;

      &.indent-guide-active {
        background-color: transparent;
        border-left: dotted 1px #8fa4;
      }
    }
  }
}

/* Status bar on top (lol) */
.one-ui-tweaks--status-bar-position-top {
  &.theme-one-dark-ui,
  &.theme-one-light-ui {
    atom-panel-container.footer {
      order: -1;
    }
  }
}
